= render 'modals'

%table.span12.dataTable.events_table.table{'data-source' => '/events/events_table', :border => "0", :cellpadding => "0", :cellspacing => "0", :id => "primary_events_table", :style => "margin-left: 0px; width: 100%;"}
  %thead
    %th
    %th.span1 Status 
    %th.span1 ENV
    %th.span2 Client
    %th.span1 Check
    %th.span4 Output
    %th.span1 Action
    %th.span1 Issued
    %th.span1
      
  %tbody
