:css
  .wide-popover
  {
    width: 640px;
  }
  .modal {
    width: 800px;
    left: 40%;
    top: 45%;
  }

%div{:style => "width: 750px; height: 40px;"}
  %div{:style => "width: 350px; float: left;"}
    Search:
    %input{:id => "events_search", :type => "text"}
  %div{:style => "width: 350px; float: right;"}
    %div.alert.alert-info.fade.in{:id => "updating_event_list", :style => "height: 12px; display: none;"}
      %p Updating event list...
    %div.alert.alert-error.fade.in{:id => "error_event_list", :style => "height: 12px; display: none;"}
      %p Event list couldnt be updated.. Retrying.
%div{:id => "main_events_table"}
