:css
  .critical-event {
    background: #FF8282;
    color: black;
  }

%div.alert.alert-info.fade.in{:id => "updating_event_list", :style => "height: 12px; display: none; z-index: 2; position: absolute; margin-bottom: 20px; margin-left: 40%;"}
  %p Updating event list...

= render "table"
