:css
  .wide-popover
  {
    width: 640px;
  }
  .modal {
    width:800px;
    left:40%;
  }
%center
  %div{:style => "height: 20px; width: 375px; margin-top:-10px;"}
    %div.alert.alert-info.fade.in{:id => "updating_event_list", :style => "height: 12px; display: none;"}
      %p Updating event list...
    %div.alert.alert-error.fade.in{:id => "error_event_list", :style => "height: 12px; display: none;"}
      %p Event list couldnt be updated.. Retrying.
%div{:id => "main_events_table"}
