= render "modals"

%table.table.table-striped.table-bordered.span12{:style => "margin-left: -7px;", :cellpadding => "0", :cellspacing => "0", :border => "0", :id => "test_table", 'data-source' => "#{events_test_table_url()}"}
  %thead
    %tr
      %th.span1 Status
      %th.span1 ENV
      %th.span2 Client
      %th.span1 Check
      %th.span3 Output
      %th.span1 Action
      %th.span2 Issued
      %th.span1
  %tbody

