%div{'data-role' =>  'header'}
  %h1 Sensu Stashes
= render 'layouts/navigation'
%div.ui-content{'data-role' => 'content', :role => "main"}
  %div.content-primary
    %ul{'data-theme' => 'a', 'data-count-theme' => 'a', 'data-role' => 'listview', 'data-inset' => 'true'}
      - if @stashes.empty?
        %button{'data-theme' => 'c'} No Stashes
      - if Gem::Version.new(@sensu_version) <= Gem::Version.new("0.9.11")
        - @stashes.each_with_index do |(k,v), i|
          = render "stash_row", :k => k, :v => v, :i => i
      - else
        - @stashes.each_with_index do |stash, i|
          = render "stash_row", :k => stash['path'], :v => stash['content'], :i => i
