// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small-modal {
  height: 60%;
  width: 60%;
  left: 32%;
  top: 47%;
}

.large-modal {
  height: 88%;
  width: 80%;
  left: 32%;
  top: 47%;
}
